@font-face{
    font-family: 'Nota Musical';
    src: url("../fonts/ToneDeafBB.eot");
    src: url("../fonts/ToneDeafBB.eot?#iefix") format('embedded-opentype'),
         url("../fonts/ToneDeafBB.otf") format('open truetype'),
         url("../fonts/ToneDeafBB.ttf") format('truetype'),
         url("../fonts/ToneDeafBB.woff") format('woff'),
         url("../fonts/ToneDeafBB.svg#svgFontName") format('svg');
}

/*#menu-posts{
    display: none;
}*/
#menu-comments{
    display: none;
}

#wp-admin-bar-new-post{
    display: none;
}

#wp-admin-bar-new-gmedia{
    display: none;
}

.featured-image{
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    background-position: center center;
    
}

.img-header-container{
    padding: 2%;
    overflow: hidden;
    text-align: center;
}

#polivoz_subtitle_field{
    font-size: 14pt;
}

.nota-musical{
    display: inline-block;
    font-family: 'Nota Musical';
    font-size: 52pt;
    text-align: center;
    margin-top: -18px;
    margin-bottom: -6px;
    color: #6193F7;
    width: 54px;
    float: right;
    background-image: url('../img/linhas.svg');
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: default;
}

#polivoz_nota_musical_field{
    display: inline-block;
    font-family: 'Nota Musical';
    font-size: 16pt;
}

#table-notas-musicais{
    width: 100%;
    background-image: url('../img/nota-table.png');
    background-position: center center;
    background-size: contain;
    height: 560px;
    background-repeat:no-repeat;
}

#current-address{
    width: 80%;
}

#period{
    width: 25%;
}

#priority{
    width: 150px;
}

#type{
    width: 150px;
}

#visibility{
    width: 80px;
}

.delete-list-icon{
    color: #dc3232 !important;
    cursor: pointer;
    opacity: 0.8;
}

.delete-list-icon:hover{
    color: #dc3232;
    opacity: 1;
}

.link-externo, .responsive-iframe{
    float: right;
}